<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>
<body>
    <style>
        body
{
    background-color:beige;
}

.text
{
    text-align: center;
    text-decoration: dashed;
    text-decoration-color: #0000;
    text-shadow: 2px 1px #0000;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 100;
}

.label
{
    text-decoration: dashed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button
{
    box-shadow: 2px 2px #000;
}

    </style>
    <form action = "http://127.0.0.1:5000/result.html" method = "POST">
        <h1 class="text">QR maker</h1>
        <br>
        <hr>
        <label class="label" >Add data here:</label>
        <br>
        <br>
        <input type="text" name="data"></input>
        <br>
        <br>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button> 
    </form>    
</body>
</html>